spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cafe
    username: postgres
    password:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  application:
    name: cafeLog
server:
  port: 8081